<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Add New Blog ...</h1>
    <form action="/blogs" method="post">
        <label for="id">id</label>
        <input type="text" name="url" id="">

        <label for="title">Tittle</label>
        <input type="text" name="title" id="">

        <label for="img">Image</label>
        <input type="text" name="img" id="">

        <label for="desc">Desc</label>
        <textarea name="desc" id="" cols="30" rows="10">
        </textarea>

        <button type="submit">Submit</button>
    </form>
</body>
</html>